<link href="/app/public/css/app.css" rel="stylesheet" />
<link href="/app/public/css/bootstrap.min.css" rel="stylesheet" />
<script src="/app/public/js/jquery.min.js"></script>
<script src="/app/public/js/bootstrap.min.js"></script>
<script src="/app/public/js/main.js"></script>
<script src="/app/public/js/ckeditor/ckeditor.js"></script>
<div  class="col-sm-6 top_down"><h2 id="page_title">What's going on?</h2></div>
<div class="post_area  col-sm-7 ">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Post</a></li>
    <li><a data-toggle="tab" href="#appreciate">Appreciate</a></li>
  </ul>
   <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    <p></p><form method="post" name="postForm" class="postForm" >
     <div class="form-group">
       <textarea name="editor1" id="editor1" required class="editor form-control" rows="5" cols="80" ng-model="vm.status.postData"></textarea>
      <!--  <input type="text" id="statusData" name="statusData" ng-model="vm.status.statusData"> -->
    </div>
   	  	  <script>
          	 CKEDITOR.replace('editor1');
          	var editor = CKEDITOR.instances.editor1;
    	 </script>
    	 <div class="post_option">
			 <label for="gruop_redirect">Post into Group </label>
			 <select id="gruop_redirect" name="shout_box_group_redirect" class="form-select">
			 <option value="-1" selected="selected">Individual</option>
			 <option value="528"> Word of the Day</option>
			 <option value="32">Applying Gita at Workplace</option>
			 <option value="83">Business Development</option>
			 <option value="1439">CONCLAVE BUZZ!</option>
			 <option value="37">Celebrations@OSSCube</option>
			 <option value="1413">Classified</option>
			 <option value="23">Corporate Communication</option>
			 <option value="42">Corporate Deals</option>
			 <option value="2877">DilSe</option>
			 <option value="3">Drupal COE</option>
			 <option value="2895">Drupal test</option>
			 <option value="39">Drupal-Centre of Excellence</option>
			 <option value="802">Git FAQ and Problems</option>
			 <option value="826">GrandMa's Dairy</option>
			 <option value="5">HCM</option>
			 <option value="19">HCM Policy updates </option>
			 <option value="30">Humour</option>
			 <option value="615">Learning and Development</option>
			 <option value="110">Leave Management</option>
			 <option value="16">OSSCube PMS portal</option>
			 <option value="1244">Our Work</option>
			 <option value="1">PHP COE</option>
			 <option value="8">QC COE</option>
			 <option value="316">Quality Pebbles</option>
			 <option value="287">Reward &amp; Recognition</option>
			 <option value="2652">Stepathlon Group</option>
			 <option value="4">SugarCRM COE</option>
			 <option value="127">Talent Acquisition</option>
			 <option value="27">Technology Learning &amp; Training</option>
			 <option value="6">Toast Master</option>
			 <option value="821">US Updates and Happenings</option>
			 <option value="14">Wellness Speaks</option>
			 <option value="1837">Zaika..</option>
			 <option value="1234">Zend Framework</option></select>
			 
			 <label for="edit-shout-box-photo-video-enable">Share </label>
			 <select id="edit-shout-box-photo-video-enable" name="shout_box_photo_video_enable" class="form-select">
			 <option value="none">-none-</option>
			 <option value="photo">Add Photo</option>
			 <option value="video">Share Video</option></select>
			 
			<!--  <input class="saveBtn" type="submit" id="post_submit" name="op" value="Post"> -->
			 <button class="saveBtn" ng-click="vm.postData()">Save</button>
		</div></form>
    </div>
    <div id="appreciate" class="tab-pane fade"> <p></p>
      <textarea name="editor2" class="editor" rows="2" cols="80" ></textarea>
   	  	  <script>
          	 CKEDITOR.replace('editor2');
          	 CKEDITOR.add         
    	 </script>
    </div>
  </div>
</div>


<h1> {{vm.user.firstssName}}</h1>