body {
    padding: 10px 0;
    background: url(/profiles/commons/themes/commons/commons_origins/images/icons-s34f2cfa4c8.png) 0 -1175px no-repeat;
}
.image_area{
  height:50px;
  width: 50px;
}
.flash-message {
    margin-top: 20px;
}
.header_class {
	height:41px;
	background-color:#353535;
}
.right_header {
	float:right;
}

.below_header {
	height:30px;
	background-color:#0072AB;
}
.top_down {
margin-top: 10px;
   width: 40%;
   float: left;
   margin-left: 75px; 
  }
  #page_title {
  font-weight: 300;
   font-size: 3.85em;
   line-height: 1.2em;
  }
  .post_area {
  	float:left;
  	margin-left: 75px; 
 }
 #option_div{
 	padding:0;
    margin:0;
    display:inline-block;
 }
 #share_opt_id {
	float:left;
 }
 #home {
	background-color: white;
    padding:15px;
    border-radius: 3px;
    box-shadow: #858585 1px 1px 4px;
    margin: 10px 0 10px;
 }
 .view_area{
	background-color: white;
    padding:15px;
    border-radius: 3px;
    box-shadow: #858585 1px 1px 4px;
    margin: 15px 0 10px;
	margin-left: 89px; 
 	float:left;
 	width:56%;
 }
 #view_post_div img {
	max-width:100%;
 }
 .post_option {
	/* float:left; */
 	margin-left:-10px;
 }
 .form-select {
	height:30px;
 	width:55%;
 }
.saveBtn,.post_photo {
	height:30px;
 	float:right;
    min-width: 80px;
 	background-color:#AD8A00;
 	border-radius:5px;
 }
 .title_input{
	margin-left:3%;
 	width:97%;
 	height:33px;
 }
 .title{
 	background-color:#F7F7F7;
 	min-height:45px;
 }
.post{
 	background-color:#F7F7F7;
	margin-bottom:20px;
 }
 .title_area{
 	color: #0072ab;   
  font-size: 1.3em !important;
 	font-weight: normal;
 	margin-top:10px;
 }
.post_view{
 	font-weight: normal;
 	margin-top:10px;
 	margin-left:50px;
 }
 .image_class {
  margin-top: 10px;
  width: 50px;
  float: left;
  margin-right: 10px;
  margin-left: -10px;

 }
 .post_time{
  height: 20px;
  margin-left: 48px;
  font-size: 12px;
 }
 .green_color{
  color: #0072ab; 
 }
 .post_photo{
  float: right;
  margin-top: -26px;
  width: 80px;
 }
 .photo_input{
  width:50%;
  float: left;
  margin-left: -10px;
 }